[table_info]
tableName:       RunDeepForcedSource
partitioning:    1
schemaFile:      $CONFIG_DIR/Source.sql
compression:     0
subChunks:       0
dirColName:      objectId
dirDb:           $OUTPUT_DB
dirTable:        RunDeepSource
latColName:      coord_decl
lonColName:      coord_ra
lockInMem:       1
scanRating:      0

