[table_info]
tableName:       RunDeepSource
partitioning:    1
schemaFile:      $CONFIG_DIR/RunDeepSource.sql
compression:     0
subChunks:       1
dirColName:      id
dirDb:           $OUTPUT_DB
dirTable:        RunDeepSource
latColName:      coord_decl
lonColName:      coord_ra
lockInMem:       1
scanRating:      0

